<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style1.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
	<h1> <%= city %></h1>
	<div class="animation">
	<h2><%=temperature%> <sup>0</sup> C</h2>
	<div class="temp">
	<span>Minimum temperature <%=minimum %> celsius</span><span>Maximum temperature <%= maximum %> celsius</span></div>
	<p class="des"><%=des%></p>
	<p><img src=<%=image %>></p></div>
</body>
</html>